/*Funnel templates*/
.pn-customers-manager-funnel-wrapper{
    padding:50px;
    max-width:1200px;
    margin:auto;
}
#pn-customers-manager-popup-player{
    width:800px;
}
.pn-customers-manager-carousel{
    max-width:500px;
    margin:auto;
}
.pn-customers-manager-bordered{
    border:4px solid;
}
.pn-customers-manager-icon-new{
    font-size:225px!important;
    padding:50px 0;
}