/*Funnel templates*/
.crmpn-funnel-wrapper{
    padding:50px;
    max-width:1200px;
    margin:auto;
}
#crmpn-popup-player{
    width:800px;
}
.crmpn-carousel{
    max-width:500px;
    margin:auto;
}
.crmpn-bordered{
    border:4px solid;
}
.crmpn-icon-new{
    font-size:225px!important;
    padding:50px 0;
}