/*Funnel templates*/
.customers-manager-pn-funnel-wrapper{
    padding:50px;
    max-width:1200px;
    margin:auto;
}
#customers-manager-pn-popup-player{
    width:800px;
}
.customers-manager-pn-carousel{
    max-width:500px;
    margin:auto;
}
.customers-manager-pn-bordered{
    border:4px solid;
}
.customers-manager-pn-icon-new{
    font-size:225px!important;
    padding:50px 0;
}